.site-wrapper {
    background-color: $main-color;
    color: #ffffff;
    min-height: 100vh;
    margin-bottom: -#{$footer-height};

    .page-body {
        min-height: calc(100vh - #{$header-height} - #{$footer-height});
        position: relative;
        width: 100%;
        height: 100%;
        overflow: hidden;
        visibility: visible;
    }
}

.splash-screen {
    height: calc(100vh - #{$header-height};
}

.content-separator {
    width: 100%;
    height: 1px;
    background: $content-separator-background;
    margin: 1rem 0;
}

.dark-blue-section {
    margin: 0 auto;
    background: $dark-blue;
    padding: 4rem 0;
}
