.site-wrapper {
    background-color: $main-color;
    color: #ffffff;
    min-height: 100vh;
    margin-bottom: -#{$footer-height};

    .page-body {
        min-height: calc(100vh - #{$header-height} - #{$footer-height});
        position: relative;
        width: 100%;
        height: 100%;
        overflow: hidden;
        visibility: visible;
    }
}

.splash-screen {
    height: calc(100vh - #{$header-height};
}
