.why-investing-is-worth {
    &-point {
        img {
            height: 100px;
        }

        &-title {
            @include media-breakpoint-only(lg) {
                min-height: 7rem;
            }

            min-height: 4rem;
        }
    }
}
