$main-color: #232439;
$background-color: #242238;
$dark-blue: #1D1B2E;

$primary-gradient-start: #FBAA0D;
$primary-gradient-end: #CE08D2;

$header-height: 108px;
$footer-height: 90px;

$content-separator-background: #444563;
