@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');
@import '../../../node_modules/bootstrap/scss/bootstrap';

@import './variables';
@import './mixins';

// Components
@import 'components/layout';
@import 'components/nav';
@import 'components/buttons';
@import 'components/forms';

// Pages
@import "pages/dla-reklamodawcow";


body {
    font-family: 'Rubik', sans-serif;
    background-color: $background-color;
}

p {
    line-height: 2em;
}

h1 {
    font-size: 3rem;
    line-height: 1.1666em;
}

.page-body {
    position: relative;

    &:before,
    &:after {
        z-index: -1000;
        content: "";
        position: absolute;
        max-width: 50%;
        width: 100%;
        height: 100%;
        top: 0;
        background-size: contain;
        background-repeat: no-repeat;
    }

    &:before {
        left: 0;
        background-image: url("../images/left_background.svg");
        background-position-x: left;
    }

    &:after {
        right: 0;
        background-image: url("../images/right_background.svg");
        background-position-x: right;
    }
}
